body {
    margin: 0;
    
}
html{
    scroll-behavior: smooth;
}
.header{
    padding: 20px;
    background-image:url(img/image_de_fond3.png);

}
.titre{
    margin-top: 0;
    color: blue;
    text-decoration:underline ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    text-align: center;
}
.logo{
    margin-left:0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
}
img:hover.logo{
    transform:scale(1.2);}
.actu{
    padding:30px;
    background-image:url(img/image_de_fond.png);
    
}
.actu a{
    color: red;
    font-size: 50px;
    text-align:center;
}
.actu{
    text-align:center;
}
.actu a:hover{
    color: green;
}
.liste-tire{
    color: red;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
.logo {
  width: 250px;

clip-path: circle(100px at center);}
.jeux{
    
    padding:20px ;
    background-image:url(img/image_de_fond2.png);

}
.jeux a{
    color: honeydew;
    font-size: 30px;
}
.jeux a:hover{
    color: rgb(25, 0, 255);
}
.description_jeux{
    color: black;
    font-family:Georgia;
    font-size: 25px; 
    font-weight: 900;
    text-align: left;
    border: 5px;
    border: solid white;
    margin: 5px;
    font-style: italic;
    background: lightgoldenrodyellow;
}
.body_mc{
    background-image:url(img/fondmc.jpg);
}
.body_lol{
   background-image:url(img/fondlol.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.body_fortnite{
    background-image:url(img/fondfortnite.jpg)
}
.body_valo{
    background-image: url(img/fondvalorant.jpg);
}
.body_over{
    background-image:url(img/fondover.jpg);
}
h3{
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-weight:bold;
    margin-left: 10px;
    color: white;
}
.titre_jeux{
    color: white;
}
.titre_fortnite{
    color: darkblue ;
    font-size:50px;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    font-family: arial black;

}
.retouraccueil{
    color: white;
    font-size: 45px;
}
.retouraccueil:hover{
    color: blue;
}
.lien_de_téléchargement{
    font-size: 20px;
    color: white;
}

.lien_de_téléchargement :hover{
    color:blue;
    ;
}