  ::before, ::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;}
 body{height: 100vh;
    margin: 0;
}       
html{
    scroll-behavior: smooth;
}
.header{
    padding: 20px;
    background-image:url(img/image_de_fond3.png);

}
.titre{
    margin-top: 0;
    color: blue;
    text-decoration:underline ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    text-align: center;
}
.logo{
    margin-left:0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
}
img:hover.logo{
    transform:scale(1.2);
}
 .gif_jeux{
   border: solid;
   border-color:whitesmoke
    
}



.bodyréseaux{
 background: linear-gradient(90deg, rgba(242,239,21,1) 0%, rgba(230,60,98,1) 23%, rgba(58,92,236,1) 46%, rgba(238,9,110,1) 67%, rgba(255,0,0,1) 100%);   
}
.réseaux{
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
img:hover.réseaux
{
    transform:scale(1.2);
}

h1.réseaux_disigner{
    float: right;
   color: blue;

} 
article.designer{
     margin-right: 100px;
     margin-top:-15px;
}
img.réseauxdisign{
    margin-left: 100px;
    margin-top: -30px;
}
.réseauxdisign{
    margin-left:0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;}
img:hover.réseauxdisign
{
    transform:scale(1.2);
}
.liste-tire{
    color: red;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
.logo {
  width: 250px;

clip-path: circle(100px at center);}
.jeux{
    
    padding:20px ;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}
.jeux a{
    color: honeydew;
    font-size: 30px;
}
.jeux a:hover{
    color: rgb(25, 0, 255);
}
.description_jeux{
    color: whitesmoke;
    font-family:Georgia;
    font-size: 25px; 
    font-weight: 900;
    text-align: left;
    border: 5px;
    border: solid white;
    margin: 5px;
    font-style: italic;
    background: transparent;
}
.description_jeux:hover{
    color: rgb(255, 0, 0);
}
.body_mc{
    background-image:url(img/fondmc.jpg);
    background-repeat: no-repeat;
   background-size: cover;
}
.body_lol{
   background-image:url(img/fondlol.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.body_fortnite{
    background-image:url(img/fondfortnite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.body_valo{
    background-image: url(img/fondvalorant.jpg);
    background-repeat: no-repeat;
   background-size: cover;
}
.body_over{
    background-image:url(img/fondover.jpg);
    background-repeat: no-repeat;
   background-size: cover;

}
.body-monster{
    background-image:url(img/fondmonster.jpg);
    background-repeat: no-repeat;
   background-size: cover;}

h3{
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-weight:bold;
    margin-left: 10px;
    color: white;
}
.titre_jeux{
    background: linear-gradient(90deg, rgba(194,62,62,1) 0%, rgba(251,0,0,1) 49%, rgba(92,78,230,1) 100%);
background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
    font-weight:bold ;
    -webkit-text-stroke: 0.5px white;
}
.titre_fortnite{
    color: darkblue ;
    font-size:50px;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    text-align: center;
    font-family: arial black;

}
.retouraccueil{
    color: white;
    font-size: 45px;
}
.retouraccueil:hover{
    color: blue;
}
.lien_de_téléchargement{
    font-size: 20px;
    color: white;
}

.lien_de_téléchargement :hover{
    color:blue;
    ;
}